
body{
    width: 100%;
    height: 100%;
}.cell {
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}
.gameContainer {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  height: auto;
}
#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}
#restartBtn {
width: 10%;
background-color:grey;
color: aliceblue;
}
